<template name="layout">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>AdminPlus Lite</title>

        <!-- Material Design Icons  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">


        <!-- Roboto Web Font -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"
              rel="stylesheet">
    </head>

    <body class="layout-container ls-top-navbar si-l3-md-up breakpoint-1200">

    <!-- App -->
    <nav class="navbar navbar-light bg-white navbar-full navbar-fixed-top ls-left-sidebar">
        <button class="navbar-toggler pull-xs-left active" type="button" data-toggle="sidebar" data-target="#sidebar">
            <span class="material-icons">menu</span></button>
        <span class="navbar-brand">Demo</span>
        <ul class="nav navbar-nav">
            <li class="nav-item"><a class="nav-link active">Docs</a></li>
        </ul>
        <iframe class="btn-github"
                src="https://ghbtns.com/github-btn.html?user=themekit&amp;repo=adminplus-bootstrap-theme&amp;type=star&amp;count=true&amp;size=small"
                frameborder="0" scrolling="0" width="100px" height="30px"></iframe>
    </nav>
    <div class="sidebar sidebar-dark bg-primary sidebar-left si-si-3 sidebar-visible" id="sidebar">

        {{>header}}
        <div class="sidebar-heading">Decks</div>
        {{>decksList}}

        <ul class="nav components-nav sidebar-menu">
            <li class="sidebar-menu-item" style="background-color: deepskyblue;">
                <a class="nav-link sidebar-menu-button" href="{{pathFor 'marketMain'}}"><i class="material-icons">view_compact</i><span class="icon-text">Card Market</span></a>
            </li>
        </ul>

        <ul class="nav components-nav sidebar-menu">
            <li class="sidebar-menu-item" style="background-color: deepskyblue;">
                <a class="nav-link sidebar-menu-button" href="{{pathFor 'selectPlan'}}"><i class="material-icons">view_compact</i><span class="icon-text">Select Plan</span></a>
            </li>
        </ul>

    </div>
    <div class="layout-content" data-scrollable="">
        <div class="container-fluid">



            <div class="container">
                {{> sAlert}}
                {{> yield}}
            </div>



            <div class="card">
                <div class="card-header"><h4 class="card-title">Base nav</h4></div>
                <div class="card-block">
                    <ul class="nav">
                        <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Another link</a></li>
                        <li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a></li>
                    </ul>
                    <hr>
                    <nav class="nav"><a class="nav-link active" href="#">Active</a> <a class="nav-link"
                                                                                       href="#">Link</a> <a
                            class="nav-link" href="#">Another link</a> <a class="nav-link disabled"
                                                                          href="#">Disabled</a></nav>
                </div>
            </div>

            <div class="card">
                <div class="card-header"><h4 class="card-title">Sidebar Colors</h4></div>
                <div class="card-block">
                    <div class="card">
                        <div class="sidebar sidebar-dark bg-primary sidebar-static sidebar-left si-si-3 sidebar-visible"
                             data-visible="none">
                            <div class="sidebar-heading">Header</div>
                            <ul class="sidebar-menu">
                                <li class="sidebar-menu-item"><a href="#" class="sidebar-menu-button">Menu Item</a></li>
                                <li class="sidebar-menu-item"><a href="#" class="sidebar-menu-button">Menu Item</a></li>
                                <li class="sidebar-menu-item"><a href="#" class="sidebar-menu-button">Menu Item</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card bg-faded">
                        <div class="sidebar sidebar-light bg-white sidebar-static sidebar-left si-si-3 sidebar-visible"
                             data-visible="none">
                            <div class="sidebar-heading">Header</div>
                            <ul class="sidebar-menu">
                                <li class="sidebar-menu-item"><a href="#" class="sidebar-menu-button">Menu Item</a></li>
                                <li class="sidebar-menu-item"><a href="#" class="sidebar-menu-button">Menu Item</a></li>
                                <li class="sidebar-menu-item"><a href="#" class="sidebar-menu-button">Menu Item</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>

</template>