<template name="header" xmlns="http://www.w3.org/1999/html">

    <a class="sidebar-brand active" href="{{pathFor 'learnPage'}}">Memory Cycle</a>

    <li class="dropdown">
        {{> notifications}}
    </li>
    {{#if currentUser }}
    <div class="sidebar-heading">
        <!--{{> loginButtons}}-->
        {{> customLogin}}
    </div>
    {{else}}
    <div class="sidebar-heading">
        {{> customLogin}}
    </div>
    {{/if}}

</template>