$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.form-control {
  //  color: $primary-color;
  //  background-color: $primary-color;
}