<template name="adminMarketDeck">
    <div class="card" style="background-color: #333; border-color: #333; width: 400px;">
        <img class="card-img" src="http://res.cloudinary.com/nightfable/image/upload/v1458376717/emma3_keszxu.jpg" alt="Card image">
        <div class="card-img-overlay">
            <h4 class="card-title">{{title}}</h4>
            <h4 class="card-title">Price: {{price}}</h4>
            <p class="card-text">{{description}}</p>
            <form>
                <fieldset class="form-group">
                    <input type="hidden" name="deckId" value="{{_id}}" class="form-control">
                    <input type="hidden" name="title" value="{{title}}" class="form-control">
                    <input type="hidden" name="description" value="{{title}}" class="form-control">
                    <input type="hidden" name="originalDeckId" value="{{originalDeckId}}" class="form-control">
                    <input type="hidden" name="price" value="{{price}}" class="form-control">
                    <input type="hidden" name="author" value="{{author}}" class="form-control">
                    <input type="hidden" name="authorId" value="{{userId}}" class="form-control">
                </fieldset>
                {{#unless isAuthor}}
                    <button type="submit" value="submit" class="btn btn-primary submit">Purchase Desk</button>
                {{/unless}}
            </form>
            <br>
            {{> starsRating rating=rating size=30 mutable=voteable class="starRating"}}
            <a class="btn btn-primary" href="{{ pathFor 'marketDeckView' }}">View Details</a>
            <button class="btn btn-primary approve-deck">Approve</button>
            <a href="{{pathFor 'marketDeckView'}}">{{commentsCount}} comments</a>
        </div>
    </div>
</template>