<template name="adminMarket">
    <br/>
    <input class="form-control" name="search_field" type="text" value={{textQuery}} placeholder="Search" autofocus>
    <br/>
    <div class="card-columns">
        {{#each marketDeckList}}
            {{> adminMarketDeck}}
        {{/each}}
    </div>
</template>