<template name="authenticatedNavigation">
    <ul class="nav navbar-nav">
        <li class="{{currentRoute 'dashboard'}}"><a href="{{pathFor 'dashboard'}}">Dashboard</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{userIdentity}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li class="logout"><a href="#">Logout</a></li>
            </ul>
        </li>
    </ul>
</template>