<template name="customLogin">
    {{> signInWithEmailModal}}
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            {{#if currentUser}}
                <ul class="btn-list">
                    <li>
                        <button type="button" class="btn btn-success btn-logout" data-toggle="modal">
                            <i class="fa fa-envelope"></i> Sign out
                        </button>
                    </li>
                </ul>
            {{else}}
                <div class="page-header">
                    <h5>Sign In to DCS</h5>
                    <p>Hey there team maties! Come on aboard!</p>
                </div>
                <ul class="btn-list">
                    <li>
                        <button data-social-login="loginWithFacebook" type="button" class="btn">
                            <i class="fa fa-facebook"></i> Sign in with Facebook
                        </button>
                    </li>
                    <li>
                        <button data-social-login="loginWithGithub" type="button" class="btn">
                            <i class="fa fa-github"></i> Sign in with GitHub
                        </button>
                    </li>
                    <li>
                        <button data-social-login="loginWithGoogle" type="button" class="btn">
                            <i class="fa fa-google"></i> Sign in with Google
                        </button>
                    </li>
                    <li>
                        <button data-social-login="loginWithTwitter" type="button" class="btn">
                            <i class="fa fa-twitter"></i> Sign in with Twitter
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-success btn-login-email" data-toggle="modal" data-target="#sign-in-with-email-modal">
                            <i class="fa fa-envelope"></i> Sign in with Email
                        </button>
                    </li>
                </ul>
            {{/if}}



        </div>
    </div>

</template>
