<template name="mark">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="">
        <title>flash x card</title>
        <!-- Bootstrap core CSS -->
        <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <!--<link href="assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">-->
        <!-- Custom styles for this template -->
        <!--<link href="dashboard.css" rel="stylesheet">-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <!--<script src="assets/js/ie-emulation-modes-warning.js"></script>-->
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>

    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>

    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">flash card</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Profile</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <div class="side-title">My Decks</div>
                <div class="side-title-create">Create Deck</div>
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#">Microorganisms <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Mathematics</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">Microorganism</h1>

                <div class="row placeholders">
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <div class="card card-create">
                            <button type="button" class="btn btn-primary">Create a card</button>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <div class="card card-default">
                            <img src="http://res.cloudinary.com/nightfable/image/upload/c_scale,w_300/v1438060440/bunhtdosn2ylb9ptqgu3.jpg" class="img-responsive" alt="">

                            <p class="card-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ae</p>

                            <p class="card-description">Lorem ipsum dolor sit</p>
                            <button type="button" class="btn btn-secondary">View notes</button>
                            <hr>
                            <h4>Lorem ipsum dolor sit amet, co</h4>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <div class="card card-default">
                            <img src="http://res.cloudinary.com/nightfable/image/upload/c_scale,w_300/v1438060440/bunhtdosn2ylb9ptqgu3.jpg" class="img-responsive" alt="">

                            <p class="card-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ae</p>

                            <p class="card-description">Lorem ipsum dolor sit</p>
                            <button type="button" class="btn btn-secondary">View notes</button>
                            <hr>
                            <h4>Lorem ipsum dolor sit amet, co</h4>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <div class="card card-default">
                            <img src="http://res.cloudinary.com/nightfable/image/upload/c_scale,w_300/v1438060440/bunhtdosn2ylb9ptqgu3.jpg" class="img-responsive" alt="">

                            <p class="card-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ae</p>

                            <p class="card-description">Lorem ipsum dolor sit</p>
                            <button type="button" class="btn btn-secondary">View notes</button>
                            <hr>
                            <h4>Lorem ipsum dolor sit amet, co</h4>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <div class="card card-default">
                            <img src="http://res.cloudinary.com/nightfable/image/upload/c_scale,w_300/v1438060440/bunhtdosn2ylb9ptqgu3.jpg" class="img-responsive" alt="">

                            <p class="card-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ae</p>

                            <p class="card-description">Lorem ipsum dolor sit</p>
                            <button type="button" class="btn btn-secondary">View notes</button>
                            <hr>
                            <h4>Lorem ipsum dolor sit amet, co</h4>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <div class="card card-default">
                            <img src="http://res.cloudinary.com/nightfable/image/upload/c_scale,w_300/v1438060440/bunhtdosn2ylb9ptqgu3.jpg" class="img-responsive" alt="">

                            <p class="card-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ae</p>

                            <p class="card-description">Lorem ipsum dolor sit</p>
                            <button type="button" class="btn btn-secondary">View notes</button>
                            <hr>
                            <h4>Lorem ipsum dolor sit amet, co</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>
//            window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
        </script>
        <!--<script src="js/bootstrap.min.js"></script>-->
        <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
        <!--<script src="assets/js/vendor/holder.min.js"></script>-->
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <!--<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>-->
        </div>
    </body>
</template>